html {
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    display: flex;
}
.header-left {
    display: flex;
    align-items: center;
}
.header-left a {
    text-decoration: none;
    padding-left: 16px;
    font-size: 13px;
    color: black;
}
.header-left a:hover{
    text-decoration: underline;
}
.header-right {
    display: flex;
    margin-left: auto;
    align-items: center;
}
.header-right a {
    text-decoration: none;
    padding-right: 16px;
    font-size: 13px;
    color: black;
}
.header-right a:hover {
    text-decoration: underline;
}
.header-right form {
    padding-right: 16px;
}
.signin {
    background: linear-gradient(rgb(67, 135, 253), rgb(70, 131, 234));
    color: white;
    height: 30px;
    border-radius: 2px;
    border-color: rgb(66, 133, 244);
    font-weight: bold;
}
.logo {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.search {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}
#searchbar {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    width: 450px;
    height: 38px;
    border: none;
    border-radius: 20px;
    background: transparent;
    box-shadow: 2px 2px 8px lightgrey;
}
.buttonbox {
    display: flex;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.buttonbox .buttons {
    background: rgba(184, 184, 184, 0.1);
    color: rgba(0, 0, 0, 0.7);
    border: 2px solid white;
    border-radius: 4px;
    height: 36px;
    font-size: 14px;
    padding: 0 16px;
    text-align: center;
}
.buttonbox .buttons:hover {
    border: 2px solid rgba(184, 184, 184, 0.2);
    color: rgba(0, 0, 0, 0.85);
}
.buttonbox #searchbutton {
    margin-right: 5px;
}
.buttonbox #luckybutton {
    margin-left: 5px;
}

